.message {
    margin-right: 70px;
    margin-top: 50px;  
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
   align-items: flex-end;  
}

.imageAndText img {
display: block;
width: 48px;
height: 48px;  
margin-left: 10px;
}

.text {
    display: block;
    width: 527px;
    height: 60px;
    background: #0066CC;
    position: relative;
    border-radius: 15px 15px 0px 15px ;
}

.text:after {
content: "";
display: block;
position: absolute;
border: 10px solid transparent; border-bottom: 10px solid #0066CC; border-left: 10px solid #0066CC;
right: -15px;;
bottom: 0;
}

.name {
    padding-top: 7px;
    padding-right: 7px;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: right;
    color:#FFFFFF;
}

.messageText {
    padding-right: 5px;
    text-align: right;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.time {
    display: flex;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.19px;
    justify-content: flex-end;
    margin-right: 9px;
}
