.greetingForm {
    padding: 50px 70px;;
}

.inputAndButtonContainer {
    padding-top:10px;
}

.error {
    color: red;
}

.input {
    border-radius: 5px;
    border: 1px solid black;
 
}

.input:focus {
}

.errorInput {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.button {
    margin-top: 10px;
    width: 70px;
    border: 1px solid blue;
    border-radius: 5px;
  
}

.button:focus {
}

.button:active {
    color: blue;
}

.button:disabled {
}

.text {
    
}

.greeting {
    margin-top: 10px;
}
