.button {
width: 167px;
height: 30px;
top: 1465px;
left: 574px;
padding: 5px 24px 5px 24px;
gap: 10px;
border-radius: 3px;
opacity: 0px;

font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 20px;
text-align: center;

border: none;

color: #ffffff;

}

.disabled {
  width: 133px;
    top: 1573px;
    left: 574px;
    padding: 5px 24px 5px 24px;
    gap: 10px;
  
    opacity: 0.5px;
    
    background-color: #004D99;

    color: grey;


}

.secondary {

top: 1622px;
left: 574px;
padding: 5px 24px 5px 24px;
gap: 10px;

opacity: 0px;

border: 1px solid #0066CC;

color: #0066CC;

}

.default {


top: 1465px;
left: 574px;
padding: 5px 24px 5px 24px;
gap: 10px;

opacity: 0px;
background-color: #0066CC;


}

.red {

top: 1519px;
left: 576px;
padding: 5px 24px 5px 24px;
gap: 10px;

opacity: 0px;

background-color: #CC1439;
;

}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}

